/.vscode
/API/API.pro.*
/GJR/GJR.pro.*
/FUNCTIONAL/FUNCTIONAL.pro.*
/UNIT/UNIT.pro.*
/bin/API/debug/*
/bin/API/release/*
/bin/FUNCTIONAL/debug/*
/bin/FUNCTIONAL/release/*
/bin/GUI/debug/*
/bin/GUI/release/*
/bin/UNIT/debug/*
/bin/UNIT/release/*
/bin/TESTGUI/debug/*
/bin/TESTGUI/release/*
/TESTGUI/TESTGUI.pro.*
*.qmake
*.qmake.*
Makefile
Makefile.*
